nav {
  height: 120px;
  background-color: lightgrey;
  align-content: center;
}

/* target the class of inline-block below */
.inline-block {
  display:inline-block;
  background: darkgrey;
  padding: center;
  padding: 50px;
}

/* target the class of .left below */
.left {
  height: 750px;
  float:left;
  background-color: darkblue;
  width: 29%;
  text-align: center;
}
.top-left{
    height: 250px;
    background-color: orange;
}
.bottom-left{
    height: 500px;
    background-color: orangered;
}
/* target the class of .right below */
.right {
  height: 750px;
  float: left;
  background: teal;
  width: 70%;
  text-align: center;
}